# Code for downloading rainfall data from NOAA radar

In [3]:
# Import modules

import glob
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
# Obtain the current working directory

glob.os.getcwd()

'C:\\Users\\parkernath32\\Dropbox\\Nathaniel Parker\\KSU_Coursework\\Spring 2020\\Introduction to Scientific Programming\\semester_project'

In [5]:
# User inputs

SOI = input('Enter station name')
lat_SOI = float(input('Enter latitude'))
lon_SOI = float(input('Enter longitude'))
interval = input('Enter data interval')
start =input('Enter start date in mm-dd-yyyy')
end =input('Enter end date in mm-dd-yyyy')
#email = input('Enter recipient email address')

Enter station name Nebraska
Enter latitude 41.357188
Enter longitude -96.167989
Enter data interval hour
Enter start date in mm-dd-yyyy 4-4-20
Enter end date in mm-dd-yyyy 4-5-20

In [12]:
# Load the .csv file containing radar locations in Kansas

radar = pd.read_csv('radars.csv')

radar.head(13)
#radar.tail()

,Radar_station,State,Latitude,Longitude,Elevation,NEXRAD_ID,Start_date
0,Amarillo,TX,35.23333,-101.70889,1093.3,KAMA,8/4/1994
1,Denver Front Range Airport,CO,39.78667,-104.54528,1675.5,KFTG,5/9/1995
2,Des Moines,IA,41.73111,-93.72278,299.0,KDMX,5/9/1995
3,Dodge City,KS,37.76083,-99.96833,789.4,KDDC,1/1/1995
4,Fort Smith,AR,35.29056,-94.36167,NaN,KSRX,2/10/1997
5,Goodland,KS,39.36694,-101.70000,1112.8,KGLD,5/9/1995
6,Hastings,NE,40.32083,-98.44167,602.3,KUEX,4/11/1995
7,Kansas City,MO,38.81028,-94.26417,303.3,KEAX,5/9/1995
8,North Platte,NE,41.95778,-100.57583,905.3,KLNX,5/3/1996
9,Oklahoma City,OK,35.33306,-97.27750,369.7,KTLX,5/9/1995
10,Omaha,NE,41.32028,-96.36639,349.9,KOAX,6/27/1995
11,Pueblo,CO,38.45944,-104.18139,1599.9,KPUX,8/9/1995
12,Springfiled,MO,37.23528,-93.40028,389.5,KSGF,5/21/1995

In [7]:
# Creating a Haversine function for computing the distance between two points on the earth's surface

def haversine (lat1,lon1,lat2,lon2):
    " A Function for calculating the distance between two points on the earth's surface using the Haversine formula"
    
    import math
    
    R = 6371000  # radius of the earth in meters
    a = math.sin(math.radians((lat1-lat2)/2))**2 + math.cos(math.radians(lat1))*math.cos(math.radians(lat2))*math.sin(math.radians((lon1-lon2)/2))**2
    b = 2* math.atan2(math.sqrt(a), math.sqrt(1-a))
    d = round(R*b/1000,3) # converting the distance from m to km
    return d

In [8]:
# Calculating the distances between the station of interest (SOI) and selecting the nearest distance

# Calculating the distance between the stations

distances = []
for i in range(len(radar)):
    distances.append(haversine(lat_SOI,lon_SOI,radar.Latitude[i],radar.Longitude[i]))

distances

[834.74,
 728.471,
 207.695,
 515.692,
 692.689,
 518.193,
 223.293,
 326.226,
 372.186,
 676.786,
 17.065,
 755.229,
 516.446,
 262.505,
 578.599,
 540.443,
 425.984]

In [13]:
# Select the nearest radar station to SOI and its geographic coordinates

for i in range(len(distances)):
    if distances[i] == min(distances):
        idx_nearest = i
        nearest_distance = distances[i]
        nearest_name = radar.Radar_station[i]
        nearest_coordinates = [radar.Latitude[i], radar.Longitude[i]]
        

print('idx:',idx_nearest)
print('nearest distance:', nearest_distance,'km')
print('nearest radar:', nearest_name)
print('nearest station coordinates:',nearest_coordinates)

idx: 10
nearest distance: 17.065
nearest radar: Omaha
nearest station coordinates: [41.32028, -96.36639]

38.22